<main class="mb-auto">
  <div class="d-grid gap-3">
    <div class="p-2 event-card">
      <p>
        We are so excited to see you on our big day!
        To keep everyone safe and healthy, we kindly request that all guests be fully vaccinated.
        If you have any questions, or concerns, please reach out us!
      </p>
    </div>
    <div class="p-2 event-card">
      <h1 class='event-title fw-bolder'>RSVP</h1>
      <p>Please Respond by September 24</p>
    </div>
    <div class="p-2 event-card">
      <div class="container">
        <%= form_with do |f| %>
          <div class="name-box">
            <% f.label :names %>
            <%= f.text_field :names, placeholder: 'Name(s)', class: 'name-box' %>
          </div>
          <br>
          <div class="row text-left">
            <div class="col-sm-1">

            </div>
            <div class="col-sm">
              <h4 class="event-title">The Welcome Dinner</h4>
              <div class="custom-control custom-radio">
                <input type="radio" id="yesWelcome" name="welcome" class="custom-control-input" value='yes'>
                <label class="custom-control-label" for="yesWelcome">Yes to Frito Pie!</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="noWelcome" name="welcome" class="custom-control-input" value='no'>
                <label class="custom-control-label" for="noWelcome">There in spirit</label>
              </div>
            </div>
            <br>
            <div class="col-sm">
              <h4 class="event-title">The Wedding</h4>
              <div class="custom-control custom-radio">
                <input type="radio" id="yesWedding" name="wedding" class="custom-control-input" value='yes'>
                <label class="custom-control-label" for="yesWedding">Yes to Vows and Tequila!</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="noWedding" name="wedding" class="custom-control-input" value='no'>
                <label class="custom-control-label" for="noWedding">There in spirit</label>
              </div>
            </div>
          </div>
          <br>
          <div class="text-center">
            <%= f.submit 'Submit', class: 'btn btn-secondary'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
<footer class='mt-auto'>
</footer>
