<div class="container">
  <%= image_tag "us1", class: "img-fluid mt-3"%>
  <%= image_tag "us2", class: "img-fluid mt-3"%>
  <%= image_tag "us3", class: "img-fluid mt-3"%>
  <%= image_tag "us4", class: "img-fluid mt-3"%>
</div>
