<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-lg-start mb-0">Andy + Megan</h3>
      <nav class="nav nav-masthead justify-content-center float-lg-end">
        <a class="nav-link" aria-current="page" href="#">The Weekend</a>
        <a class="nav-link" href="#">The Story</a>
        <a class="nav-link" href="#">The Gallery</a>
      </nav>
    </div>
  </header>
  <main class="px-3">
    <!-- <h1 class="display-1">SOON!</h1> -->
    <h1 class="display-1">
      <a class="nav-link" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        SOON!
      </a>
    </h1>
    <div class="collapse" id="collapseExample">
      <div class="video-container">
        <iframe src="https://www.youtube-nocookie.com/embed/5drjr9PmTMA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <p class="lead">More details to come...</p>
  </main>
  <footer class="mt-auto">
    <p></p>
  </footer>
</div>
