<h2>We're Getting Married!</h2>
<h1 class="link-border rounded display-1">
  <a class="nav-link" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    SOON!
  </a>
</h1>
<div class="collapse" id="collapseExample">
  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/5drjr9PmTMA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<h4>October 23, 2021 · Santa Fe, NM</h4>
