<div>
  <div class="p-2 event-card">
    <h1 class='event-title text-left'>where to stay</h1>
    <p class='text-left'>We recommend staying near the Plaza. Room block information to come!</p>
  </div>
  <div class="p-2 event-card">
    <h1 class='event-title text-left'>things to do</h1>
    <p class='text-left'>Such fun things</p>
  </div>
  <div class="p-2 event-card">
    <h1 class='event-title text-left'>places to eat</h1>
    <p class='text-left'>All the sopapillas</p>
  </div>
  <div class="p-2 event-card">
    <h1 class='event-title text-left'>stay hydrated</h1>
    <p class='text-left'>Santa Fe is a high altitude city</p>
  </div>
</div>
