<div class="event-card">
  <h1 class='event-title fw-bolder'>the welcome dinner</h1>
  <h4>Frito Pie - Bar Snacks</h4>
  <p>October 22, 5PM - 8PM</p>
  <h5><%= link_to 'Cowgirl Cafe', 'https://cowgirlsantafe.com/', target: '_blank' %></h5>
</div>
<br>
<br>
<br>
<div class="event-card">
  <h1 class='event-title fw-bolder'>the wedding</h1>
  <h4>Vows - Tequila - Dinner - Dancing</h4>
  <p>October 23, TBA</p>
  <h5><%= link_to "Bishop's Lodge", 'https://aubergeresorts.com/bishopslodge/', target: '_blank' %></h5>
</div>
