<div class="">
  <h1>The Night Before</h1>
  <h4>Welcome Dinner</h4>
  <p><%= link_to 'Cowgirl Cafe', 'https://cowgirlsantafe.com/', target: '_blank' %></p>
  <p>6PM - 8PM</p>
</div>
<br>
<div class="">
  <h1>The Wedding</h1>
  <h4>Vows - Tequila - Dinner - Dancing</h4>
  <p><%= link_to "Bishop's Lodge", 'https://aubergeresorts.com/bishopslodge/', target: '_blank' %></p>
</div>
